.topLeft {
  left: 10px;
  position: absolute;
  top: 10px;
  width: 20%;
}

.topRight {
  position: absolute;
  right: 10px;
  top: 10px;
}

.bottomLeft {
  height: 100%;
  width: 20%;
  bottom: 0;
  left: 0;
  position: absolute;
}

.bottomRight {
  bottom: 60px;
  position: absolute;
  right: 10px;
}

.footer {
  width: 100vw;
  position: absolute;
  bottom: 0;
}
